@import "tailwindcss";

/* Variables */
@theme {
	/* Container */
	--container-max-width: 1288px;
	--container-side-padding: 24px;

	/* Fonts */
	--font-inter: "Inter", sans-serif;

	/* Colors */
	--color-purple-300: #ff385c;
	--color-primary: #0070bb;
	--color-secondary: #3eb3f3;
	--color-primary-hovered: #04558b;

	/* Shadow */
	--shadow-input: 0px 2px 16px 0px rgba(0, 0, 0, 0.12);
	--shadow-slide-badge: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
	--shadow-base: 0px 2px 12px 0px rgba(0, 0, 0, 0.16);
	/* Animations */
	--animate-fadeIn: fadeIn 0.3s ease-out;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

/* Container max-width & paddings */
@utility container {
	@apply mx-auto max-w-(--container-max-width) px-(--container-side-padding);
}

/* Base Elements  */
@layer base {
	body {
		@apply font-inter;
	}
	button {
		@apply cursor-pointer;
	}
}
/* Custom Components */
@layer components {
	/* Button */
	.btn {
		@apply inline-block;
	}
	/* Input */
	.input {
		@apply shadow-input focus:outline-primary flex w-full rounded-full border border-[#DDD] px-4 py-[15px] pr-12 text-sm tracking-[0.28px] placeholder:text-[#A9AFAD];
	}
	/* Nav Link */
	.nav-link {
		@apply flex w-full shrink-0 items-center gap-3 rounded-xl p-4 transition-colors md:rounded-[20px] md:p-5 md:hover:bg-[#F3F3F3];
	}
	/* Subnav Link */
	.subnav-link {
		@apply flex rounded-lg px-4 py-3 text-sm font-medium tracking-[0.28px] text-[#212121] hover:bg-gray-100 md:px-14;
	}
	/* Filter Button */
	.filter-button {
		@apply flex w-full shrink-0 items-center justify-center gap-2 rounded-lg px-3 py-2 text-sm font-medium tracking-[0.28px] text-[#505052] transition-colors hover:bg-[#F3F3F3];
	}
}

/* Utility Classes */
@layer utilities {
	/* Mobile Menu */
	.mobile-menu.is-open {
		@apply visible opacity-100;
	}
	/* Nav Link */
	.nav-link.active {
		@apply bg-[#F3F3F3];
	}
	/* Filter Button */
	.filter-button.active {
		@apply bg-[#E6E6E6] text-[#393939];
	}
}
.swiper-button-disabled {
	background: white;
	cursor: not-allowed;
	img {
		opacity: 0.2;
	}
}
